.location-container {
	position: absolute;
  top: 80px;
  left: 25px;
}
.location {
	display: inline-block;
	margin-top: 10px;
}

.location-icon {
	display: inline-block;
	height: 0.8em;
	width: auto;
	margin-right: 5px;
}